<% content_for :page_title do %>
  <%= I18n.t(:editing_user_role, scole: :spree) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= link_to I18n.t(:back_to_roles_list, scole: :spree), spree.admin_roles_path, class: 'btn btn-primary' %>
  </li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @role } %>

<%= form_for [:admin, @role] do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div class="clear"></div>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
