<% content_for :page_title do %>
  <%= I18n.t(:user_roles, scope: :spree) %>
<% end %>

<% content_for :page_actions do %>
  <% if can?(:admin, Spree::Role) && can?(:create, Spree::Role) %>
    <li>
      <%= link_to_with_icon 'plus', I18n.t(:new_user_role, scope: :spree), new_admin_role_url, class: 'btn btn-primary' %>
    </li>
  <% end %>
<% end %>


<% if @roles.any? %>
  <table class="index">
    <colgroup>
      <col style="width: 50%">
      <col style="width: 50%">
    </colgroup>
    <thead>
      <tr data-hook="role_header">
        <th><%= I18n.t(:name, scope: :spree) %></th>
        <th><%= I18n.t(:permissions, scope: :spree) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @roles.non_base_roles.each do |role|%>
      <tr id="<%= spree_dom_id role %>" data-hook="rate_row" class="<%= cycle('odd', 'even')%>">
        <td class="align-center"><%=role.try(:name) || I18n.t(:not_available, scope: :spree) %></td>
        <td class="align-center"><%= role.permission_sets.map(&:name).collect { |p| t("spree.admin.permissions.#{p.underscore}") }.to_sentence %></td>
        <td class="actions">
          <% if can?(:update, role) %>
            <%= link_to_edit role, :no_text => true %>
          <% end %>
          <% if can?(:destroy, role) %>
            <%= link_to_delete role, :no_text => true %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= I18n.t(:no_resource_found, scope: :spree, resource: I18n.t(:other, scope: 'activerecord.models.spree/role')) %>
    <% if can?(:create, Spree::TaxRate) %>
      <%= link_to I18n.t(:add_one, scope: :spree), spree.new_admin_role_path %>!
    <% end %>
  </div>
<% end %>
