<% content_for :page_title do %>
  <%= I18n.t(:new_user_role, scope: :spree) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= link_to I18n.t(:back_to_roles_list, scope: :spree), spree.admin_roles_path, class: 'btn btn-primary' %>
  </li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @role } %>

<%= form_for [:admin, @role] do |f| %>
  <fieldset class="no-border-top">

    <%= render :partial => 'form', :locals => { :f => f } %>

    <div class="clear"></div>

    <%= render :partial => 'spree/admin/shared/new_resource_links' %>

  </fieldset>
<% end %>
